{% block content %}

{% if user.is_authenticated %}

Hi {{ user.username }}!

<li class="nav-item">
  <a class="nav-link" href="{% url 'logout' %}">Sair</a>
</li>

{% if contatos_list %}
<ul>
  {% for contato in contatos_list %}
  <li><a href="{% url 'agenda:detail' contato.id %}">{{ contato.name }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>No Contatos Avaliados.</p>
{% endif %}

{% else %}
<p>You are not logged in</p>
<li class="nav-item">
  <a class="nav-link" href="{% url 'login' %}">Login</a>
</li>
{% endif %}


{% endblock %}